nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    ul
      a.navbar-brand(href='/') Shrelle
      a.navbar-brand(href='/about') about
      a.navbar-brand(href='/contact') contact
    
    
