body,
html {
    background-color: rgb(235, 235, 235);
    height: 100%;
}

.jumbotron {
    background-color: rgb(81, 140, 250);
    color: white;
    font-family: pt sans narrow;
    text-shadow: rgb(58, 57, 57) 0.3em 0.3em 0.3em;
    margin-bottom: 0px;
    height: 35%;
}
.navbar{
    
    height: 5%;
}

.display-4 {
    margin-left: -30px;
    margin-top: -60px;
    border-bottom: 2px;
    position: relative;
    font-size: 80pt;
}

.lead {
    margin-top: -10px;
    font-size: 20pt;

}
.cardHolder{
display: flex;
justify-content: space-around;
margin: 10px;
}
